.color-a {
  color: $colora;
}

.color-b {
  color: $colorb;
}

.color-c {
  color: $colorc;
}

.color-d {
  color: $colord;
}

.color-dd {
  color: darken($colord, 10%);
}

.color-light {
  color: $light;
}

.color-dark {
  color: $dark;
}

.color-grey-l {
  color: $grey-l-1;
}

.color-grey-ll {
  color: $grey-l-2;
}

.color-grey-m {
  color: $grey-m-2;
}

.color-grey-mm {
  color: $grey-m-3;
}

.color-grey-d {
  color: $grey-d-2;
}
