<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
        {{ $script := resources.Get "/js/script.js" }}
        {{ $script := $script | resources.Minify }}
        <link href="{{ $script.Permalink }}">
        <script type="text/javascript" src="{{ $script.Permalink }}">

        </script>
    </body>
</html>
