{{ define "main" }}
<main class="space top-plus bottom-plus">
  <header class="space top-plus">
    
    <div class="ui grid container">
      <div class="sixteen wide twelve wide large screen column">
        <h1 class="color-a">Hi, I'm Lucas
          I use creativy and a love of problems to tell the stories of data</h1>
       
        <a class="link" href="/about">More about Lucas</a>
      </div>
      <div class="eight wide column">

      </div>
    </div>
    {{/*  end  hero  */}}
    <div class="ui grid centered">
    <canvas id="canvas" width="700" height="700"></canvas>
    </div>
  </header>
  <div class="ui divider"></div>
  <section>
    <div class="ui grid centered">
        
      <div class="eight wide column ">
        <h4 class="color-grey-mm">I love discussing, playing with and solving problems of all shape size. I am drawn to the
            digital space because of the speed of iteration and the seemingly infinite opportunites to do more (little
            Microsoft ;)). My todo list
            is life long and I wouldn't have it any other way.</h4>
          </div>
         
  </div>
  </section >
  <div class="ui hidden divider"></div>
  
  <section class="space bottom-plus top-plus">
    <div class="ui grid centered">
    <canvas id="radar" width="600" heigh="600"></canvas>
  </div>
  </section>
  <div class="ui hidden divider"></div>
  <section class="space all-plus bg-color-a">
    <h3 class=" peta color-grey-l space bottom-minus kill-margin">How I solve Problems</h3>
    <h4 class="color-grey-ll kill-margin space bottom">A few real world challenges and</h4>
    
    <div class="ui grid">
        {{ range .Pages }}
      
        <div class="eight wide column">
            <h3 href="{{ .RelPermalink }}" class="header top attached ui"> {{ .Title }}</h3>
            <div class="ui attached segment">
              <p>{{.Summary}} </p>
              {{ if .Truncated }}
              <!-- This <div> includes a read more link, but only if the summary is truncated... -->
              <div>
                <a href="{{ .RelPermalink }}">Read More…</a>
              </div>
              {{ end }}
            </div>
        </div>
          {{end}}
      </div>
    </div>
  </section>
</main>
{{ end }}