{{ define "main" }}
<main class="space top-plus color-grey-l bg-color-a bottom-plus">
  <header class="space top-plus">

    <div class="ui grid container">
      <div class="sixteen wide twelve wide large screen column">
        <h1 class="color-light">Hi, I'm Lucas.
          I use creativy and a love of problems to tell the stories of data</h1>

        <a class="link light" href="/about">More about Lucas <i class="icon rocket large"></i></a>
      </div>
      <div class="eight wide column">

      </div>
    </div>
    <div class="ui grid centered">
      <canvas id="canvas" width="700" height="700"></canvas>
    </div>
  </header>
  <section class="bg-color-a space all-plus">
    <div class="ui grid centered">

      <div class="eight wide column ">
        <div class="giga color-light">I am an aspiring data cowboy. Kidding, honestly I just really enjoy looking for and discovering effient solutions.</div>
        <div class="ui hidden divider"></div>
        <div>
          <h3 class="color-light">About</h3>
          <h5 class="">Past</h5>
          <p>
            I have always been a problem solver. When I was young, I would deconstruct oragami and figure out how a piece was made. My problemm solving process has only matured since then. The core system is the same. Emerser youself in the space. I
            studied maths and econmics in academia but had to leave due to personal reasons. It is very much a priority to
            coomplete
            my degree once a career is stablized.
          </p>
          <p>
            Upon leaving school in 2016 I had to figure out how to add value. I found myself in doing application design and user experience design. I had always had an eye for design as good design and an efficient solution are one and the same in
            my mind.
          </p>
          <p class="color-grey-l">
            Since Feburary 2019 I have been a marketing analyist specializing in Microsoft Bing platform. Due to Bing rapid growth over the last five years I found myself working with processes and tools that were still maturing. As such it was a
            perfect opportunity to start acquiring the begining of a data science tool kit. I took my past experience with web development and hopped into python, pandas and matplotlib and I was not disappointed.
          </p>
          <h4>Friction Points</h4>
          <ul>
            <li>
              We were pulling analytics data from three data sources with inconsistent properties and data types. The previous solution was excel based...enough said.
            </li>
          </ul>
          <h4>Solutions</h4>
          <ul>
            <li>
              Created a script that cleaned and created homogenous properties and data types. This resulted in more acturate analysis and increased band width for higher congnitive tasks.
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
  {{/* <div class="ui hidden divider"></div> */}}

  <section class="space bottom-plus top-plus bg-light">
    <div class="ui grid centered">
      <div class="row">
        <canvas id="radar" width="600" heigh="600"></canvas>
      </div>
      <div class="row four">
        <div class="column">Beginner</div>
        <div class="column">Competent</div>
        <div class="column">Proficient</div>
        <div class="column">Expert</div>
        <div class="column">Master</div>
      </div>
    </div>
  </section>
  <section class="space all-plus bg-color-a ">
    <h3 class=" peta color-grey-l space bottom-minus kill-margin">Some Projects</h3>
    <h4 class="color-grey-ll kill-margin">Look Mom I can code</h4>
    <div class="six wide collumn">
      <p class="color-grey-ll kill-margin space bottom">I am started picking up a python data analysis stack in April so the projects showcased are mostly from courses"</p>
    </div>

    <div class="ui grid color-dark">
      {{ range .Site.Taxonomies.categories.project }}

      <div class="eight wide column">
        <h3 class="header h3 top attached ui"> <a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <div class="ui attached segment">
          <p>{{.Summary}} </p>
          {{ if .Truncated }}
          <!-- This <div> includes a read more link, but only if the summary is truncated... -->
          <div>
            <a href="{{ .RelPermalink }}">Read More…</a>
          </div>
          {{ end }}
        </div>
      </div>
      {{end}}
    </div>




  </section>
</main>
{{ end }}