{{ define "main" }}
<main class="space all plus">
  <header id="home-hero">
    <h1 class="color-d">Hi, I'm Lucas<br> I use creativy and a love of problems to tell the stories of data</h1>
  </header>
  <section>
    <h4 class="color-c">I love discussing, playing with and solving problems of all shape size. I am drawn to the digital space because of the speed of iteration and the seemingly infinite opportunites to do more (little mircosoft ;)). My todo list
      is life long and I wouldn't have it any other way.</h4>
    <a class="link">More about the human</a>
  </section>


</main>
{{ end }}