@import "normalize.scss";
@import "color.scss";
@import "typography/typography.scss";
@import "typography/type_color.scss";
@import "utilities.scss";
@import "buttons.scss";
@import "play.scss";
@import "d3.scss";
@import "prism.scss";

// @import "nav.scss";

body {
  background-color: #fafafa;

  a {
    color: darken($colord, 10%);
  }

  header {
    // h4 {
    //   background-color: #fafafa;
    //   border-left: solid 10rem $colorb;
    //   border-right: solid 5rem transparent;
    //   border-top: solid 5rem $colorb;
    //   border-bottom: solid 9rem transparent;
    // }
  }
  // radar
  #TableOfContents {
    background-color: inherit;
    position: fixed;
    top: 4rem;
    margin-right: 0;
    width: 20rem;

    ul {
      list-style: none;
      padding-left: 20px;
    }
  }

  canvas#radar {
    width: 600px !important;
    height: 600px !important;
  }

  canvas {

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

}

@media screen and (min-width: 800px) {}