@import "normalize.scss";
@import "color.scss";
@import "typography/typography.scss";
@import "typography/type_color.scss";
@import "utilities.scss";
@import "play.scss";

// @import "nav.scss";

body {
  background-color: #fffefb;

  a {
    color: $colorc;
  }
}

@media screen and (min-width: 800px) {
  header {
    // display: flex;

    h1 {
      margin-left: 50%;
      max-width: 50%;
    }

    h4 {
      margin-left: 50%;
      max-width: 50%;

    }
  }

  section {
    min-height: 70vh;

    &:first-of-type {

      margin-left: 50%;
      max-width: 50%;
    }

    &:nth-of-type(4) {
      & > div {
        margin: auto;
        max-width: 50%;

      }
    }

  }
}
