@import "normalize.scss";
@import "color.scss";
@import "typography/typography.scss";
@import "typography/type_color.scss";
@import "utilities.scss";
@import "play.scss";
@import "d3.scss";

// @import "nav.scss";

body {
  background-color: #fafafa;

  a {
    color: lighten($colorc,15%);
  }
  header {
    // h4 {
    //   background-color: #fafafa;
    //   border-left: solid 10rem $colorb;
    //   border-right: solid 5rem transparent;
    //   border-top: solid 5rem $colorb;
    //   border-bottom: solid 9rem transparent;
    // }
  }
  // radar 

canvas#radar{
  width : 500px !important; 
  height: 500px !important;
}
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

}

@media screen and (min-width: 800px) {
  
}
