{{define "main"}}
<div class="ui grid centered space top-plus bottom-plus bg-color-b">
<div class="column eight wide">
  <h1>Get in Contact</h1>
  <h4>Say hello with your name, email and a little message.</h4>
<form class="ui form space top-plus">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="first-name" placeholder="First Name">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="last-name" placeholder="Last Name">
    </div>
    <div class="field">
        <label>E-mail</label>
        <input type="email" placeholder="joe@schmoe.com">
      </div>
    <div class="field">
        <label>Short Text</label>
        <textarea rows="2"></textarea>
      </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>
</div>
  {{end}}